<head>
    <title>Actividad API</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
 <div id="layout">
    <div id="agregar">
        Agregar Usuarios
        <form method="POST" action='/agregar'>
            <input type="text" class="form-nombre" name="nombre" id="nombre" placeholder="Ingresa tu nombre" required>
            <input type="text" class="form-apellido" name="apellido" id="apellido" placeholder="Ingresa tu apellido" required>
            <input type="email" class="form-email" name="email" id="email" placeholder="Tu email" required>
            <button>Agregar</button>
        </form>
    </div>
    <div id="ver"> Ver Usuarios
        <p>Actualmente tenemos <strong><%= data %></strong> usuarios registrados en nuestra base de datos </p>
    </div>
    <div id="modificar"> Modificar Usuarios
        <div id="seleccionar">
            <select name="lista-usuarios" id="lista-usuarios">
            </select>
        </div>
    </div>
    <div id="borrar"> Borrar Usuarios
    </div>
</div>
</body>


